
###> symfony/framework-bundle ###
/frontend/.env.local
/frontend/.env.local.php
/frontend/.env.*.local
/frontend/config/secrets/prod/prod.decrypt.private.php
/frontend/public/bundles/
/frontend/var/
/frontend/vendor/
/frontend/.idea
/backend/.idea

/.idea
###< symfony/framework-bundle ###
